@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<address>
    <strong> Địa Chỉ </strong> : 475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Tp.HCM
</address>
<address>
    <strong> Số Điện Thoại: </strong> : 
    01223045647-Nguyễn Trần Đức Anh
</address>
<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/Botlichhen-1909218519350386 /">Shop Giày Hutech</a><br />
    <div class="fb-like" data-href="https://anhanh.somee.com" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</address>
<address><iframe src="https://www.google.com/maps/d/u/0/embed?mid=1vdbuw_jQBZknON1kZ5mHfy8uYWg" width="640" height="480"></iframe>
    </address>