
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/View1.cshtml";
}

<h2>Ứng Dụng</h2>
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="/asset/Admin/img/1.jpg" style="width:367px" />
            </div>
            <div class="panel-body">
                <p>  Tích lũy điểm thưởng, đổi ra tiền,hưởng ưu đãi </p>                                      
            </div>
            <div class="panel-footer">                      
                    Tính năng khuyến khích khách hàng mua
                    hàng nhiều hơn và gắn bó hơn với cửa hàng
                    của bạn bằng việc tặng điểm thưởng cho khách hàng
               
            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="/asset/Admin/img/2.png" style="width:365px" />
            </div>
            <div class="panel-body">
                <p> <strong>Bizweb</strong>  </p>
                Đồng bộ sản phẩm, đơn hàng, khách hàng từ nền tảng bán hàng online Bizweb
            </div>
            <div class="panel-footer">
                   Đây là công cụ tuyệt vời cho các bạn xây dựng một cửa hàng online trực tuyến để bán các sản phẩm liên kết của mình.

</div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <img src="/asset/Admin/img/3.png" style="width:367px" />
            </div>
            <div class="panel-body">
                <p>  Giao hàng tiết kiệm </p>

            </div>
            <div class="panel-footer">
                Giao hàng thường
                Giao hàng hỏa tốc
            

            </div>
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>