
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Cảm ơn quý khách đã mua hàng ở cửa hàng chúng tôi.
Chúng tôi sẽ sớm liên hệ với quý khách và giao hàng đúng hẹn</h3>
<p><a href="@Url.Action("GioHang", "GioHang")" class=" btn btn-primary">Trở Về Trang Chủ</a></p>


