
@{
    ViewBag.Title = "Deleteloai";
    Layout = "~/Areas/Admin/Views/Shared/View1.cshtml";
}

<h2>Delete</h2>
<fieldset>
    <legend><font color=red>  Bạn có thật sư muốn xóa!</font>    </legend>
    <div class="display-lable"> Mã loại :@Model.MaLoai</div>
    <div class="display-lable"> Tên loại :@Model.TenLoai</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a href="@Url.Action("Index","LoaiGiay")" class="btn btn-primary">
            Trở Về
        </a>
    </p>
}

