
@{
    ViewBag.Title = "Editkt";
    Layout = "~/Areas/Admin/Views/Shared/View1.cshtml";
}

<h2>Edit</h2> @using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <p>
            Mô tả kích thước :
            @Html.TextBox("MoTaSize")  <font color=red>
                @ViewData["loi1"]
            </font>
        </p>
        <P><button type="submit" class="btn btn-primary">Save</button>    
        <a href="@Url.Action("Index","KichThuoc")" class="btn btn-primary">
    Trở Về
</a></P>    
    </fieldset>
}



