@model IEnumerable<WebApplication1.Models.NhaSanXuat>

<div class="list-group">
    <div class="list-group-item">
        <p class="lead" style="text-align:center">Hãng giày</p>
        </div>
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Sptheonhasx", "Home", new { id = int.Parse(item.MaNhaSanXuat) })" class="list-group-item">
                @item.TenNhaSanXuat
            </a>
        }


    </div>
